<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Axel, I am a Master Student studying Computational Science and Engineering at 
          EPFL and I am highly interested in Deep Learning
          and its many applications.Graduate in Mathematics, I am not scared of theoretical problems,
          such as differential equations or numerical methods. </p>
        </p>
      </div>
      <div class="col-lg-4">
        <p> I am currently working on a project about Deep Learning on MRI segmentation at EPFL's <a href="https://www.epfl.ch/labs/cvlab/" style="color:white"><u>Computer Vision Lab</u></a>. 
          As this project will end on March 2022, I am looking for a new challenge.
          If my profile picked your interest, 
          do not hesitate to contact me! </p>
      </div>
    </div>
  </div>
</section>
